:host{
    display: grid;
    grid-template-rows: 50px 2fr;
    grid-template-columns: 1fr 400px;
}

.title-area{
    grid-column: 1/-1;
    background-color: rgba(113, 113, 238, 0.897);
}

.question-area{
background-color: chartreuse;
}
.summary-area{
    background-color: rgb(192, 97, 116);
}

h1,h2{
    text-align: center;
}

div{
    border: 1px solid gray;
}